@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: #222;
}

::selection {
   background-color: #22222262;
   color: orange;
}

/* fix */


::-webkit-scrollbar {
   width: 2px;
 }
 ::-webkit-scrollbar-track {
   background: transparent;
   
 }
 ::-webkit-scrollbar-thumb {
   background: white;
   
  }