#RejCard {
   
   
   background: url(../../../public/assets/images/001.png);
   background-repeat: no-repeat;
   background-size: 20%;
   background-position: right 100%;

   background-color: rgba(0, 0, 0, 0.582);
   
}